
Win32/

__history/

*.local

KVClientTest/KVClienttest.exe

KVClientTest/KVClienttest.map

KVClientTest/KVHttpClient.dcu

*.dcu

__recovery/

demo/KVClientTest/KVClienttest.exe

demo/TestLongPoll.exe

demo/TestLongPoll.map
