
Win32/

__history/

*.local

KVClientTest/KVClienttest.exe

KVClientTest/KVClienttest.map

KVClientTest/KVHttpClient.dcu

*.dcu

__recovery/

demo/KVClientTest/KVClienttest.exe

demo/TestLongPoll.exe

demo/TestLongPoll.map

demo/KVClientTest/KVClienttest.map

demo/KeyValueClientDemo/KeyValueClientDemo.exe

demo/KeyValueClientDemo/KeyValueClientDemo.map

demo/KeyValueServerDemo.exe

demo/KeyValueServerDemo.map
